In [1]:
import numpy as np
import pandas as pd

In [3]:
dict_squirrel = {
    "color": ['Black','Grey','Cinnamon'],
    "count": [300, 120, 420],
}

In [5]:
df = pd.DataFrame(dict_squirrel)

In [6]:
df

      color  count
0     Black    300
1      Grey    120
2  Cinnamon    420

In [7]:
df.to_csv("squirrel.csv")

In [8]:
df.to_csv("squirrel_no_index.csv", index=False)

In [9]:
df.head(2)

   color  count
0  Black    300
1   Grey    120

In [10]:
df.tail(2)

      color  count
1      Grey    120
2  Cinnamon    420

In [ ]:
d